# Maven target directory
target/

# VS Code settings
.vscode/

# Eclipse / IntelliJ IDEA project files
.classpath
.project
.settings/
.idea/
*.iml

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log
